<!DOCTYPE html>
<html lang="it">

<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>BoolZap</title>
   <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css">
   <link rel="stylesheet" href="css/style.css">
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
      integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w=="
      crossorigin="anonymous" referrerpolicy="no-referrer" />
   <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
      crossorigin="anonymous"></script>
   <script src="https://cdn.jsdelivr.net/npm/luxon@3.1.0/build/global/luxon.min.js"></script>
   <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
</head>

<body>
   <div id="app">
      <div class="main-container d-flex">
         <div class="left-section">
            <nav>
               <div class="user">
                  <div class="user-left flex-center-center">
                     <img class="avatar" src="img/avatar_io.jpg" alt="">
                     <span class="fw-bold">Gloria</span>
                  </div>
                  <div class="user-right d-flex gap-4">
                     <i class="fa-solid fa-circle-notch"></i>
                     <i class="fa-solid fa-message"></i>
                     <i class="fa-solid fa-ellipsis-vertical"></i>
                  </div>
               </div>
               <div class="bg-info alert mb-0 rounded-0 d-flex">
                  <span class="avatar bg-white flex-center-center">
                     <i class="fa-solid fa-bell-slash text-info"></i>
                  </span>
                  <div class="display-inline-block">
                     <span class="d-block">Ricevi le notifiche di nuovi messaggi</span>
                     <a class="link-secondary" href="#">Attiva le notifiche</a>
                  </div>
               </div>
               <div class="p-1 input-group search">
                  <button @click="filterChats()" class="btn">
                     <i class="fa-solid fa-magnifying-glass"></i>
                  </button>
                  <input @input="filterChats()" v-model="filter" type="text" class="form-control"
                     placeholder="Cerca qui">
               </div>
            </nav>

            <div class="chat-list">
               <div class="user" :class="{'active' : i === activeContactIndex , 'd-none' : !user.visible}"
                  v-for="(user, i) in contacts"
                  @click="changeActiveChat(i)">
                  <div class="user-left flex-center-center">
                     <img class="avatar" :src="`img/avatar${user.avatar}.jpg`" alt="">
                     <div class="text">
                        <div class="fw-bold">
                           {{user.name}}
                        </div>
                        <small class="text-muted">
                           {{ user.messages[user.messages.length - 1].message }}
                        </small>
                     </div>
                  </div>
                  <div class="user-right align-self-start">
                     <small class="text-muted">{{user.messages[user.messages.length - 1].date.toFormat('T')}}</small>
                  </div>
               </div>
            </div>
         </div>
         <div class="right-section">
            <nav class="top-nav">
               <div class="user">
                  <div class="user-left flex-center-center">
                     <img class="avatar" :src="`img/avatar${contacts[activeContactIndex].avatar}.jpg`" alt="">
                     <div class="text">
                        <div class="fw-bold">{{contacts[activeContactIndex].name}}</div>
                        <small class="text-muted">Ultimo accesso oggi alle 12:00</small>
                     </div>
                  </div>
                  <div class="user-right d-flex gap-4">
                     <i class="fa-solid fa-magnifying-glass"></i>
                     <i class="fa-solid fa-paperclip"></i>
                     <i class="fa-solid fa-ellipsis-vertical"></i>
                  </div>
               </div>
            </nav>
            <div class="main-chat-section p-5">
               <div class="message d-flex" :class="chat.status"
                  v-for="(chat, i) in contacts[activeContactIndex].messages">
                  <div>
                     <div class="text">{{chat.message}}</div>
                     <div class="hour">{{chat.date.toFormat('T')}}</div>
                  </div>
                  <div class="dropdown align-self-baseline ps-2">
                     <a class="link-secondary" href="#" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        <i class="fa-solid fa-chevron-down"></i>
                     </a>

                     <ul class="dropdown-menu">
                        <li class="dropdown-item">Info messaggio</li>
                        <li @click="deleteMsg(i)" class="dropdown-item">Cancella messaggio</li>
                     </ul>
                  </div>
               </div>
            </div>
            <nav class="bottom-nav d-flex p-1">
               <i class="fs-4 p-2 px-4 fa-regular fa-face-smile"></i>
               <input v-model="msgToSend" @Keyup.enter="sendMsg()"
                  class="form-control" type="text"
                  placeholder="Scrivi un messaggio">
               <i class="fs-4 p-2 px-4 fa-solid fa-microphone"></i>
            </nav>
         </div>
      </div>
   </div>

   <script type="module" src="js/main.js"></script>
   <script type="module" src="js/usersList.js"></script>
</body>

</html>